---
http_interactions:
- request:
    method: get
    uri: https://api.punkapi.com/v2/beers?page=2&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4d35-AD2/uDvNNbuRsK3wF2X/e5ndsJI"
      x-ratelimit-limit:
      - '3600'
      x-ratelimit-remaining:
      - '3531'
      x-ratelimit-reset:
      - '1698301502'
      x-vercel-cache:
      - MISS
      x-vercel-id:
      - fra1::sfo1::mtpcn-1698298314083-24f1ad8c0b43
    body:
      encoding: UTF-8
      string: '[{"id":11,"name":"Misspent Youth","tagline":"Milk & Honey Scotch Ale.","first_brewed":"04/2013","description":"The
        brainchild of our small batch brewer, George Woods. A dangerously drinkable
        milk sugar- infused Scotch Ale.","image_url":"https://images.punkapi.com/v2/keg.png","abv":7.3,"ibu":30,"target_fg":1020,"target_og":1079,"ebc":120,"srm":60,"ph":4.4,"attenuation_level":74.7,"volume":{"value":20,"unit":"litres"},"boil_volume":{"value":25,"unit":"litres"},"method":{"mash_temp":[{"temp":{"value":67,"unit":"celsius"},"duration":75}],"fermentation":{"temp":{"value":19,"unit":"celsius"}},"twist":"See
        honey and lactose additions"},"ingredients":{"malt":[{"name":"Pale Ale","amount":{"value":2.18,"unit":"kilograms"}},{"name":"Caramalt","amount":{"value":0.3,"unit":"kilograms"}},{"name":"Dark
        Crystal","amount":{"value":0.3,"unit":"kilograms"}},{"name":"Smoked Weyermann","amount":{"value":1.8,"unit":"kilograms"}},{"name":"Flaked
        Oats","amount":{"value":0.6,"unit":"kilograms"}},{"name":"Brown","amount":{"value":0.6,"unit":"kilograms"}},{"name":"Amber","amount":{"value":0.1,"unit":"kilograms"}},{"name":"Chocolate","amount":{"value":0.05,"unit":"kilograms"}},{"name":"Munich","amount":{"value":0.6,"unit":"kilograms"}},{"name":"Crystal
        150","amount":{"value":0.2,"unit":"kilograms"}}],"hops":[{"name":"First Gold","amount":{"value":25,"unit":"grams"},"add":"start","attribute":"bitter"},{"name":"Fuggles","amount":{"value":25,"unit":"grams"},"add":"start","attribute":"bitter"},{"name":"Honey","amount":{"value":250,"unit":"grams"},"add":"middle","attribute":"Flavour"},{"name":"Lactose","amount":{"value":375,"unit":"grams"},"add":"middle","attribute":"Flavour"},{"name":"First
        Gold","amount":{"value":10,"unit":"grams"},"add":"end","attribute":"aroma"},{"name":"Fuggles","amount":{"value":10,"unit":"grams"},"add":"end","attribute":"aroma"}],"yeast":"Wyeast
        1056 - American Ale™"},"food_pairing":["Roasted garlic and chilli infused
        camembert cheese","Korean style chicken wings","Chocolate milk shake"],"brewers_tips":"Lots
        of malt in this one. Mash-in in stages, and spread the pale ale malt throughout
        the mash to provide stability. If the mash starts to sink, stop, wait a few
        minutes while mixing, then start again.","contributed_by":"Sam Mason <samjbmason>"},{"id":12,"name":"Arcade
        Nation","tagline":"Seasonal Black IPA.","first_brewed":"12/2015","description":"Running
        the knife-edge between an India Pale Ale and a Stout, this particular style
        is one we truly love. Black IPAs are a great showcase for the skill of our
        brew team, balancing so many complex and twisting flavours in the same moment.
        The citrus, mango and pine from the hops – three of our all-time favourites
        – play off against the roasty d[...]
- request:
    method: get
    uri: https://api.punkapi.com/v2/beers?beer_name=Stin&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"508d-WQJKKW6au/WyEMV1JZLHppyU520"
      x-ratelimit-limit:
      - '3600'
      x-ratelimit-remaining:
      - '3488'
      x-ratelimit-reset:
      - '1698314618'
      x-vercel-cache:[...]
