---
http_interactions:
- request:
    method: get
    uri: https://api.punkapi.com/v2/beers?beer_name=Berlin&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"233c-jjKFTPN5XThBUEvGdfX5+8IxRiM"
      x-ratelimit-limit:
      - '3600'
      x-ratelimit-remaining:
      - '3183'
      x-ratelimit-reset:
      - '1698261353'
      x-vercel-cache:
      - MISS
      x-vercel-id:
      - fra1::sfo1::b9tgk-1698260388077-f557da2753c4
    body:
      encoding: UTF-8
      string: '[{"id":3,"name":"Berliner Weisse With Yuzu - B-Sides","tagline":"Japanese
        Citrus Berliner Weisse.","first_brewed":"11/2015","description":"Japanese
        citrus fruit intensifies the sour nature of this German classic.","image_url":"https://images.punkapi.com/v2/keg.png","abv":4.2,"ibu":8,"target_fg":1007,"target_og":1040,"ebc":8,"srm":4,"ph":3.2,"attenuation_level":83,"volume":{"value":20,"unit":"litres"},"boil_volume":{"value":25,"unit":"litres"},"method":{"mash_temp":[{"temp":{"value":60,"unit":"celsius"},"duration":10},{"temp":{"value":65,"unit":"celsius"},"duration":30},{"temp":{"value":72,"unit":"celsius"},"duration":10},{"temp":{"value":78,"unit":"celsius"},"duration":5}],"fermentation":{"temp":{"value":21,"unit":"celsius"}},"twist":"Soured
        naturally using the kettle souring technique, Yuzu fruit: 50g at middle, Yuzu
        juice: 200ml at FV"},"ingredients":{"malt":[{"name":"Propino Pale Malt","amount":{"value":1.63,"unit":"kilograms"}},{"name":"Wheat
        Malt","amount":{"value":1.63,"unit":"kilograms"}},{"name":"Propino Pale Malt
        for kettle souring","amount":{"value":0.03,"unit":"kilograms"}},{"name":"Acidulated
        Malt for kettle souring","amount":{"value":0.03,"unit":"kilograms"}}],"hops":[{"name":"Bramling
        Cross","amount":{"value":10,"unit":"grams"},"add":"middle","attribute":"bitter"}],"yeast":"Wyeast
        1056 - American Ale™"},"food_pairing":["Smoked chicken wings","Miso ramen","Yuzu
        cheesecake"],"brewers_tips":"Clean everything twice. All you want is the clean
        sourness of lactobacillus.","contributed_by":"Sam Mason <samjbmason>"},{"id":35,"name":"Berliner
        Weisse With Raspberries And Rhubarb - B-Sides","tagline":"Fruity Berliner
        Weisse.","first_brewed":"11/2015","description":"Tart, dry and acidic with
        a punch of summer berry as rhubarb crumble.","image_url":"https://images.punkapi.com/v2/keg.png","abv":3.6,"ibu":8,"target_fg":1007,"target_og":1040,"ebc":null,"srm":null,"ph":3.2,"attenuation_level":83,"volume":{"value":20,"unit":"litres"},"boil_volume":{"value":25,"unit":"litres"},"method":{"mas[...]
