---
http_interactions:
- request:
    method: get
    uri: https://api.punkapi.com/v2/beers?beer_name=Stout&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4d4e-SoMiaaIp998wga6RPJAzc28NopA"
      x-ratelimit-limit:
      - '3600'
      x-ratelimit-remaining:
      - '3046'
      x-ratelimit-reset:
      - '1698277113'
      x-vercel-cache:
      - MISS
      x-vercel-id:
      - fra1::sfo1::9g2l8-1698277021883-4df3b3a07750
    body:
      encoding: UTF-8
      string: '[{"id":11,"name":"Misspent Youth","tagline":"Milk & Honey Scotch Ale.","first_brewed":"04/2013","description":"The
        brainchild of our small batch brewer, George Woods. A dangerously drinkable
        milk sugar- infused Scotch Ale.","image_url":"https://images.punkapi.com/v2/keg.png","abv":7.3,"ibu":30,"target_fg":1020,"target_og":1079,"ebc":120,"srm":60,"ph":4.4,"attenuation_level":74.7,"volume":{"value":20,"unit":"litres"},"boil_volume":{"value":25,"unit":"litres"},"method":{"mash_temp":[{"temp":{"value":67,"unit":"celsius"},"duration":75}],"fermentation":{"temp":{"value":19,"unit":"celsius"}},"twist":"See
        honey and lactose additions"},"ingredients":{"malt":[{"name":"Pale Ale","amount":{"value":2.18,"unit":"kilograms"}},{"name":"Caramalt","amount":{"value":0.3,"unit":"kilograms"}},{"name":"Dark
        Crystal","amount":{"value":0.3,"unit":"kilograms"}},{"name":"Smoked Weyermann","amount":{"value":1.8,"unit":"kilograms"}},{"name":"Flaked
        Oats","amount":{"value":0.6,"unit":"kilograms"}},{"name":"Brown","amount":{"value":0.6,"unit":"kilograms"}},{"name":"Amber","amount":{"value":0.1,"unit":"kilograms"}},{"name":"Chocolate","amount":{"value":0.05,"unit":"kilograms"}},{"name":"Munich","amount":{"value":0.6,"unit":"kilograms"}},{"name":"Crystal
        150","amount":{"value":0.2,"unit":"kilograms"}}],"hops":[{"name":"First Gold","amount":{"value":25,"unit":"grams"},"add":"start","attribute":"bitter"},{"name":"Fuggles","amount":{"value":25,"unit":"grams"},"add":"start","attribute":"bitter"},{"name":"Honey","amount":{"value":250,"unit":"grams"},"add":"middle","attribute":"Flavour"},{"name":"Lactose","amount":{"value":375,"unit":"grams"},"add":"middle","attribute":"Flavour"},{"name":"First
        Gold","amount":{"value":10,"unit":"grams"},"add":"end","attribute":"aroma"},{"name":"Fuggles","amount":{"value":10,"unit":"grams"},"add":"end","attribute":"aroma"}],"yeast":"Wyeast
        1056 - American Ale™"},"food_pairing":["Roasted garlic and chilli infused
        camembert cheese","Korean style chicken wings","Chocolate milk shake"],"brewers_tips":"Lots
        of malt in this one. Mash-in in stages, and spread the pale ale malt throughout
        the mash to provide stability. If the mash starts to sink, stop, wait a few
        minutes while mixing, then start again.","contributed_by":"Sam Mason <samjbmason>"},{"id":58,"name":"Coffee
        Imperial Stout","tagline":"Beats a Cup of Joe.","first_brewed":"11/2008","description":"This
        beer was released as both as \"Danish Beerhouse Coffee Imperial Stout\" and
        \"BrewDog Coffee Imperial Stout\". Deep, dark, roasted flavours make this
        a perfect Sunday brunch beer.","image_url":"https://images.punkapi.com/v2/58.png","abv":9,"ibu":65,"target_fg":1019,"target_og":1080,"ebc":97,"srm":49,"ph":4.4,"attenuation_level":76,"volume":{"valu[...]
- request:
    method: get
    uri: https://api.punkapi.com/v2/beers?beer_name=Stout&page=2&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
      x-ratelimit-limit:
      - '3600'
      x-ratelimit-remaining:
      - '3554'
      x-ratelimit-reset:
      - '1698314618'
      x-vercel-cache:
      - MISS
      x-vercel-id:
      - fra1::sfo1::zqc4v-1698311658788-1a86f3a18132
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 26 Oct 2023 09:24:19 GMT
recorded_with: VCR 6.2.0
